@page
@model Laba1.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-info">
        <span class="fa fa-plus-circle"> Добавить</span>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].DishName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dish) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DishName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
                <td>
                    <img src="~/Images/@item.Image" alt="NoImage" width="50" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.DishId" class="btn btn-outline-info">
                        <span class="fas fa-edit"></span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.DishId" class="btn btn-outline-danger">
                        <span class="fas fa-trash-alt"></span>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
