@model Dish


<div class="col">
	<div class="card shadow-lg" style="width: 18rem; height: 25rem;">
		<img src="~/Images/@Model.Image"
				alt="NoImage"
				class="card-img-top" />
		<div class="card-body">
			<h5 class="card-title">
				@Model.DishName
			</h5>
			<p class="card-text">
				@Model.Description
			</p>
			<div class="card-text badge bg-secondary">
				<h6>@Model.Calories калорий</h6>
			</div>
			@{
				// Получение текущего адреса
				var request = ViewContext.HttpContext.Request;
				var returnUrl = request.Path + request.QueryString.ToUriComponent();
			}
			<!--Разметка кнопки добавления в корзину-->
			<p class="mt-2">
				<a asp-action="Add"
					asp-controller="Cart"
					asp-route-id="@Model.DishId"
					asp-route-returnUrl="@returnUrl"
					class="btn btn-primary">
					<i class="fa fa-shopping-cart"></i> В корзину
				</a>
			</p>
		</div>
	</div>

</div>
